@media (max-width: 576px)
    .hidden-mobile
        display: none
    .header
        &-logo
            width: 35px
            height: 35px
            border-radius: 4px            
            background: $active-color url(../img/header-logo__mobile.png) center no-repeat
        &-contacts
            &__phone
                font-size: 14px
                flex-direction: column
                margin-right: 0
                &:first-child
                    border: none
                    &__button
                        display: inline-block
                        padding: 9px
                    .main
            padding-top: 50px
            text-align: center
            &-text
                &__title
                    font-size: 22px
                    color: $active-color
                &__subtitle
                    font-size: 18px
                    margin-bottom: 40px
                &__form
                    padding: 10px
                    backgroundcolor: transparent
                .form
            display: block
            &-title
                font-size: 15px
                line-height: 1.4
                padding-right: 0
            &__input
                display: block
                margin-bottom: 13px


