body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff; }

body {
  margin: 0; }

img {
  max-width: 100%; }

input:focus,
button:focus {
  outline: none; }

.header__logo {
  width: 191px;
  height: 61px;
  padding: 15px 0;
  background-size: 100%;
  background: url(../img/h-logo.png) center no-repeat; }

.header-contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .header-contacts__phones {
    font-size: 22px;
    display: flex;
    margin-right: 13px; }
  .header-contacts__phone:first-child {
    margin-right: 13px;
    border-right: 1px solid #cfcfd0; }

.button {
  font-size: 14px;
  padding: 13px 22px;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #fd9c28; }
  .button:hover {
    cursor: pointer;
    background-color: #fda841; }
  .button img {
    vertical-align: middle; }
  .button_big {
    padding-top: 18px;
    padding-bottom: 18px;
    vertical-align: middle; }

.main {
  position: relative;
  z-index: 2;
  padding-top: 65px;
  padding-bottom: 60px;
  color: #fff;
  background: #373737 url(../img/bg-1.jpg) center no-repeat;
  background-size: cover; }
  .main::before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.6); }
  .main-img {
    position: relative; }
    .main-img::before {
      position: absolute;
      z-index: -1;
      left: 50%;
      width: 390px;
      height: 390px;
      margin-left: -195px;
      content: '';
      border: 1px solid #fff;
      border-radius: 50%; }
  .main-text__title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px; }
  .main-text__subtitle {
    font-weight: 300;
    font-size: 28px;
    margin-bottom: 27px; }
  .main-text__form {
    padding: 30px 27px;
    background-color: rgba(255, 255, 255, 0.2); }

.form {
  display: flex;
  margin-bottom: 12px; }
  .form-title {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 20px;
    padding-right: 87px; }
    .form-title__important {
      font-weight: 700;
      display: block;
      text-transform: uppercase; }
  .form__input {
    margin-right: 10px;
    padding: 20px;
    vertical-align: middle;
    border: none;
    border-radius: 4px;
    flex-basis: 50%; }
  .form-small {
    font-size: 14px;
    font-weight: 300;
    padding-left: 19px; }

.overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba 0, 0, 0, 0.4; }
  .overlay .popup {
    position: fixed;
    top: 100px;
    left: 50%;
    width: 752px;
    transform: translateX(-50%); }
    .overlay .popup-close {
      font-size: 35px;
      font-weight: 300;
      position: absolute;
      top: -30px;
      right: -20px;
      cursor: pointer;
      color: #fff; }
    .overlay .popup-title {
      font-size: 21px;
      font-weight: 500;
      line-height: 71px;
      display: block;
      width: 100%;
      max-height: 71px;
      margin: 0;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      background-color: #ff9d00; }
    .overlay .popup-form {
      padding: 35px 88px 50px 88px;
      color: #fff;
      background: url(../img/form-bg.jpg) center no-repeat;
      background-size: cover; }
      .overlay .popup-form-header {
        font-size: 30px;
        font-weight: 400;
        line-height: 27px;
        padding: 0;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 30px;
        display: block;
        margin-top: 23px; }
        .overlay .popup-form-header span {
          font-style: 24px; }
      .overlay .popup-form__input {
        width: 365px;
        height: 56px;
        margin-top: 17px; }
      .overlay .popup-form__btn {
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
        width: 180px;
        height: 56px;
        margin-left: 16px;
        background-color: #ff9d00; }
      .overlay .popup-form__note {
        font-size: 14px;
        font-weight: 300;
        line-height: 30px;
        margin-top: 9px;
        text-align: center; }

@media (max-width: 576px) {
  .hidden-mobile {
    display: none; }
  .header-logo {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background: #fd9c28 url(../img/header-logo__mobile.png) center no-repeat; }
  .header-contacts {
    padding-top: 50px;
    text-align: center;
    display: block; }
    .header-contacts__phone {
      font-size: 14px;
      flex-direction: column;
      margin-right: 0; }
      .header-contacts__phone:first-child {
        border: none; }
        .header-contacts__phone:first-child__button {
          display: inline-block;
          padding: 9px; }
    .header-contacts-text__title {
      font-size: 22px;
      color: #fd9c28; }
    .header-contacts-text__subtitle {
      font-size: 18px;
      margin-bottom: 40px; }
    .header-contacts-text__form {
      padding: 10px;
      backgroundcolor: transparent; }
    .header-contacts-title {
      font-size: 15px;
      line-height: 1.4;
      padding-right: 0; }
    .header-contacts__input {
      display: block;
      margin-bottom: 13px; } }
